aiml==0.8.6
asciitree==0.3.2
beautifulsoup4==4.5.0
bs4==0.0.1
ChatterBot==0.4.6
geopy==1.11.0
goslate==1.5.1
httplib2==0.9.1
image==1.5.3
luigi==2.3.2
lxml==3.6.1
lz4==0.7.0
nltk==3.2.1
notebook==4.2.1
numpy==1.11.0
oauth==1.0.1
oauthlib==1.1.2
Pillow==3.1.2
py-translate==1.0.3
pycurl==7.43.0
pygame==1.9.2b8
pymongo==3.3.0
python-twitter==3.1
qrcode==5.3
requests==2.10.0
requests-oauthlib==0.6.1
tweepy==3.5.0
Twisted==16.2.0
twitter==1.17.1
virtualenv==15.0.1
wikipedia==1.4.0
youtube-dl==2016.2.22
mechanize==0.2.5
